body
{
background-color:#909497;
font-family:"Helvetica",Arial;
}

label
{
display:block;
}



#btmSubmit
{
border:none;
background-color:A93226;
color:#A93226;
padding:4px;
margin: 20px;
cursor: pointer;
}

#nombre
{
border-radius:5px;
}

#referencia
{
border-radius:5px;
}

#revision
{
border-radius:5px;
}

#elaboro
{
border-radius:5px;
}

#aprobo
{
border-radius:5px;
}